* {
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .gameSubContainer {
        flex-direction: column;
    }
}

.gameContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.gameSubContainer {
    display: flex;
    flex-wrap: wrap;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 1% 4%;
    border: 1px solid red;
}

.playerList {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
}

.playerHand {
    padding: 20px;
    background: #ddd;
    /*overflow-x: scroll;*/
    flex-direction: column;
    flex-wrap: nowrap;
}

.boardContainer {
    flex: 70%;
    background-color: white;
    padding: 0.5%;
    background: lightgray;
}

.gameCard {
    border-radius: 4px;
    width: 180px;
    height: 200px;
    display: inline-flex;
    margin: .25% 0.15%;
    padding: 0.225%;
}

.whiteCard {
    background: white;
    color: black;
}

.blackCard {
    background: black;
    color: white;
    width: 200px;
    height: 220px;
}