@{
    ViewData["Title"] = "GamePage";
}
<h1>@ViewData["Title"]</h1>

<iframe src="~/build/index.html">
    Your browser does not support iframe elements. We recommend switching to a browser that does support iframes
</iframe>