@{
    ViewData["Title"] = "GamePage";
}
<h1>@ViewData["Title"]</h1>

<iframe src="~/build/index.html" style="width: 100%; height: 100%;">
    Your browser does not support iframe elements. We recommend switching to a browser that does support iframes
</iframe>