@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is the Cards Against humanity website that was created for the Web Projects class.</p>
</div>
