@model GameViewModel
@{
    ViewData["Title"] = "Game Page";
}
<link rel="stylesheet" type="text/css" href="~/css/game.css" />

<div class="actions">
    <!--Container for the site actions like settings and chat-->

</div>

<div class="gameContainer">

    <div class="gameSubContainer">
        <div class="playerList">
            <!--Container for the player list, scores, and current czar-->

            <div class="player">
                <p>Player 1 - 0</p>
            </div>
            <div class="player">
                <p>Player 2 - 2</p>
            </div>
            <div class="player">
                <p>Player 3 - 3</p>
            </div>
            <div class="player">
                <p>Player 4 - 0</p>
            </div>
            <div class="player">
                <p>Player 5 - 6</p>
            </div>
            <div class="player">
                <p>Player 6 - 0 - CZAR</p>
            </div>
        </div>

        <div class="boardContainer">
            <!--Container for the board, its black card and the played white cards-->
            
        </div>
    </div>

    <div class="playerHand">
        <!--container for the player white card hand-->
        
    </div>
</div>

<script src="~/js/gameAjax.js"></script>