@model GameViewModel
@{
    ViewData["Title"] = "Game Page";
}
<link rel="stylesheet" type="text/css" href="~/css/game.css" />

<script>const profile = "@Model.ProfileModel.UserName";</script>

<div class="gameContainer">

    <div class="gameSubContainer">
        <div class="playerList">
            <!--Container for the player list, scores, and current czar-->

        </div>

        <div class="boardContainer">
            <!--Container for the board, its black card and the played white cards-->

        </div>
    </div>

    <div class="playerHand">
        <!--container for the player white card hand-->

    </div>
</div>

<script src="~/js/gameAjax.js"></script>

<script>
    addPlayer(profile);
</script>

<div class="actions">
    <!--Container for the site actions like settings and chat-->
    <span><input id="newNameId" type="text" placeholder="NewPlayerName" /><button onclick="testAddPlayer()">Add Test Player</button></span><br />
    <span><label for="addTestCard">Put in player hand (off is to game board)</label><input id="addTestCard" name="addTestCard" type="checkbox" checked /><button onclick="testAddCard()">Add Test Card</button></span><br />
    <span><button onclick="testResetBoard()">Reset Board</button></span>
</div>