@model GameViewModel
@{
    ViewData["Title"] = "Game Page";
}

<link rel="stylesheet" type="text/css" href="~/css/game.css" />

<div class="gameContainer">
    <div class="actions"></div><!--Container for the site actions like settings and chat-->
    <div class="playerList">
        
    </div><!--Container for the player list, scores, and current czar-->
    <div class="playerHand">
        
    </div><!--container for the player white card hand-->
    <div class="boardContainer">
        
    </div><!--Container for the board, its black card and the played white cards-->
</div>